<h2>Create Employee</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= render partial: "form", locals: { f: f }%>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "employees/shared/links" %>
